<!-- voter_analytics/templates/voter_analytics/voter_list.html -->

{% extends 'voter_analytics/base_generic.html' %}

{% block content %}
  <h1>Voter List</h1>

  <form method="get">
    <label for="party_affiliation">Party Affiliation:</label>
    <select name="party_affiliation" id="party_affiliation">
      <option value="">All</option>
      {% for party in party_list %}
        <option value="{{ party }}" {% if selected_party_affiliation == party %}selected{% endif %}>{{ party }}</option>
      {% endfor %}
    </select>
  
    <label for="min_dob">Born After:</label>
    <select name="min_dob" id="min_dob">
      <option value="">Any</option>
      {% for year in years %}
        <option value="{{ year }}" {% if selected_min_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
  
    <label for="max_dob">Born Before:</label>
    <select name="max_dob" id="max_dob">
      <option value="">Any</option>
      {% for year in years %}
        <option value="{{ year }}" {% if selected_max_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
  
    <label for="voter_score">Voter Score:</label>
    <select name="voter_score" id="voter_score">
      <option value="">Any</option>
      {% for score in voter_scores %}
        <option value="{{ score }}" {% if selected_voter_score == score|stringformat:"s" %}selected{% endif %}>{{ score }}</option>
      {% endfor %}
    </select>
  
    <label>Voted In:</label>
    {% for election in elections %}
      <input type="checkbox" name="voted_in" value="{{ election }}" {% if election in selected_voted_in %}checked{% endif %}>{{ election }}
    {% endfor %}
  
    <button type="submit">Filter</button>
  </form>
  

  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Street Address</th>
      <th>Date of Birth</th>
      <th>Party Affiliation</th>
      <th>Voter Score</th>
    </tr>
    {% for voter in voters %}
    <tr>
      <td>{{ voter.first_name }}</td>
      <td>{{ voter.last_name }}</td>
      <td>{{ voter.street_number }} {{ voter.street_name }}</td>
      <td>{{ voter.date_of_birth }}</td>
      <td>{{ voter.party_affiliation }}</td>
      <td>{{ voter.voter_score }}</td>
      <td><a href="{% url 'voter' voter.pk %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>

  {% if is_paginated %}
    <div>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
