<!-- gaming/templates/gaming/profile_detail.html -->
{% extends 'gaming/base.html' %}

{% block content %}
<h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
<img src="{{ profile.profile_image.url }}" alt="Profile Image" width="150">

<p>City: {{ profile.city }}</p>
<p>Email: {{ profile.email_address }}</p>

<h2>Friends</h2>
<ul>
    {% for friend in friends %}
        <li>{{ friend.first_name }} {{ friend.last_name }}</li>
    {% empty %}
        <li>No friends yet.</li>
    {% endfor %}
</ul>


{% endblock %}
