<!-- templates/mini_fb/create_profile_form.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<main>
    <h2>Create Profile</h2>
    <form method="post">
        {% csrf_token %}
        <h3>User Registration</h3>
        {{ user_form.non_field_errors }}
        {{ user_form.as_p }}

        <h3>Profile Information</h3>
        {{ form.non_field_errors }}
        {{ form.as_p }}

        <button type="submit" class="button">Create Profile</button>
    </form>
</main>
{% endblock %}
